.social{
    margin:2rem;
    width: 42px;
}
.social:hover{
    opacity: .6;
}
.footerSocial{
    background: rgba(13, 13, 13, 0.7) !important;
}
fieldset {
    border:none;
}
#twitter{
    width: 75px;
    padding-bottom: 20px;
}
#twitter:hover{
    opacity: .6;
}