.featureImag{
    width: auto;
}
.featureCard{
    background: rgba(0, 0, 0, 0)
}
#ImgFeatures{
    width: 100%;
}
.card-title {
    font-size: 2.5rem;
}
.card-text {
    font-size: 2rem;
}
#ImgFeaturesGrow{
    width: 90%;
}