#serviceMainDiv{
    font-size: 2em;
}
#deckFirstCard{
    background: rgba(0,0,0,.4) !important;
}
.card-img-top {
    width: 30%;
}
.card-title {
    font-size: 4rem;
}
.card-text{
    font-size: 2.5rem;
}
#servicesHeading{
    margin: 2em;
}