.sliderImg{
    width: 100%;
}
.carousel {
    background: rgba(0,0,0,.4) !important;
}
.carousel-caption{
    top: 50%;
    background: rgba(0,0,0,.7);
    transform: translateY(-50%);
    bottom: initial;
}
/* Smartphones (landscape) ----------- */
.w-100 {
    width: 53%!important;
    opacity: .6 !important;
}
.carousel-item{
    margin-top: 5%;
}
#carouselExampleIndicators{
    margin-top: 5%;
}
.d-none {
    display: block !important;
}
@media(max-width:800px) {
    .carousel-item{
        margin-top: 15% !important;
        padding-bottom: 15% !important;
                            }
                            
                                    }
                                        
